h1 {
    font-size: 60px; background-color:rgb(85, 81, 85); color:white;   text-align: center; 


  }
  .first { font-size: 30px; background-color:rgb(243, 164, 230); color:white;   text-align:justify;}
  .second {font-size: 30px; background-color:rgb(243, 164, 230); color:white;   text-align:justify;}
  .third  {font-size: 30px; background-color:rgb(243, 164, 230); color:white;   text-align:justify;}
  